#header-logo {
    width: 50px;
    height: 50px;
}

#home-hero {
    padding: 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    height: 45vh;
    box-shadow: rgba(27, 31, 35, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    background-image: url('./assets/images/hero-waves-2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: lighten;
}

#footer-logo {
    width: 75px;
    height: 75px;
    margin-left: 15px;
}

#footer-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 30vh;
    border-top: 1px;
    border-color: black;
}

#footer-container ul {
    list-style: none;
}

#footer-container li {
    margin-bottom: 10px;
}

.AppContent {
    margin-top: 100px;
    width: 100vw;
}

.footer {
    color: white;
}

.carousel {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    height: 35vh;
}

.carousel::-webkit-scrollbar {
     width: 0 !important 
}

.carousel { 
    overflow: -moz-scrollbars-none; 
}

.carousel { 
    -ms-overflow-style: none; 
}

.navbar-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.category-carousel-item {
    flex: 1;
    height: 100px;
    justify-content: space-between;
    background-color: aqua;
    border-radius: 5px;
    row-gap: 10px;
}

.category-card {
    flex: 1;
    display: flex;
    border-radius: 26px;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.page {
    margin-top: 100px;
}